@media (max-width: 425px) {
    .center {
        padding-left: calc(50% - 343px/2);
        padding-right: calc(50% - 343px/2);
    }

    .top {
        background-image: url(./img/background_mobile.jpeg);
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            padding-top: 239px;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            padding-bottom: 32px;
        }
    }

    .container {
        width: 343px;
    }
}